body {
  background-image: url(assets/imagenes/fondo.png);
  text-align: center;
  font-family: 'Sedgwick Ave Display', cursive;
}
main{
   width: 80%;
   background-color: rgb(182, 231, 240);
   margin-left: auto;
   margin-right: auto;
   padding: 20px;
   max-width: 500px;
   border: 6px double #000;
   border-radius: 3%;
}
.options{
  display:flex;
}
.opcionUsuario {
  text-align: center;
  background: rgb(182, 231, 240);
  border: solid rgb(182, 231, 240);
  transition: box-shadow .5s ease;
  transition: all .7s ease;
  height: 130x;
  width: 130px;
  opacity: 60%;
}

.opcionUsuario:hover {
  box-shadow:  2px 2px 20px 5px   #000;
  height: 150x;
  width: 150px;
}
.selected{
  opacity: 100%;
  height: 150x;
  width: 150px;
  border:9px inset #1fd455;

}
.botonera{
  display:flex;
  
}
#jugar, #reset{
  background-color: aquamarine;
  border-radius: 40%;
  padding:auto;
  height: 80px ;
  width: 80px;
  font-size: small;
}